templates/default/dtds/cstateapi.dtd

<!ELEMENT response (cstatedata|success|error)>
<!ELEMENT success (#CDATA)>
<!ELEMENT error (#CDATA)>
<!ELEMENT cstatedata (setstates|availstates)>
<!ELEMENT setstates (option*)>
<!ELEMENT availstates (option*)>
<!ELEMENT option (#CDATA)>
<!ATTRLIST option
value CDATA #IMPLIED
title CDATA #IMPLIED >
